{# /app/Resources/FOSUserBundle/views/Security/login.html.twig #}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Logowanie - {% endblock %}

{% block body %}
    {% if app.user %}
        <div class="row">
            <div class="col-xs-3 col-xs-offset-2 text-center error">
                <h3>Jesteś już zalogowany jako {{ app.user }}</h3>
            </div>
        </div>
    {% else %}
        {% block fos_user_content %}
            {% trans_default_domain 'FOSUserBundle' %}
            {% if error %}
                <div class="col-xs-6 col-xs-offset-3 text-center error">
                    <h3><label class="label label-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</label></h3>
                </div>
            {% endif %}
            <div class="col-xs-4 col-xs-offset-4 text-center" id="user_control_window">
                <div>
                    <h3>Logowanie do systemu BMS</h3>
                </div>
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {{ form_errors(form) }}
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        {{ form_row(form._username) }}
                    </div>
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        {{ form_row(form._password) }}
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <a href={{ path('fos_user_resetting_request') }}>Zapomniane hasło?</a>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="_submit" name="_submit" class="btn btn-default navbar-btn"><i class="fa fa-sign-in"></i> {{ 'security.login.submit'|trans }}</button>
                        <a href="{{path('fos_user_registration_register')}}">
                            <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-user-plus"></i> Załóż konto</button>
                        </a>
                    </div>
                </form>
            </div>
        {% endblock fos_user_content %}
    {% endif %}
{% endblock %}

