{# src/BmsConfigurationBundle/Resources/views/device.html.twig #}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="col-md-12 text-left">
    <div class="row">
        <div class="col-md-12">
            <span class="label label-primary hide-mainrow-label">{{ device.communicationType.name }} > {{ device.name }}
                - konfiguracja <i class="fa fa-angle-left fa-angle-down fa-fw"></i></span>
        </div>
    </div>
    <div class="well text-left hidden-item">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-5">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6">
                        {{ form_label(form.modbusAddress) }}<br/>
                        (format szesnastkowy)
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.modbusAddress) }}<br/>
                        (format dziesiętny)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 address_modbus_hex">
                        <input type="text" disabled class="form-control" maxlength="2"/>
                    </div>
                    <div class="col-md-5 col-md-offset-1 address_modbus_dec">
                        {{ form_widget(form.modbusAddress) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </div>
            <div class="col-md-5">
                {{ form_row(form.active) }}
                {{ form_row(form.report) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                {{ form_row(form.localization) }}
            </div>
        </div>
        <div class="row text-right">
            <div class="col-md-12">
                <input class="btn btn-default btn-edit" type="button" value="Edytuj"/>
                <input class="btn btn-default btn-save" type="submit" value="Zapisz zmiany"/>
                <input class="btn btn-default btn-cancel" type="button" value="Anuluj"/>
                <a href="{{ path('bms_configuration_del_device', {'comm_id': device.communicationType.id, 'device_id': device.id}) }}">
                    <button type="button" class="btn btn-default btn-delete">Usuń</button>
                </a>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
    <div class="row">
        <div class="col-md-6">
            <span class="label label-primary hide-mainrow-label">Rejestry dodane do urządzenia
                <i class="fa fa-angle-left fa-angle-down fa-fw"></i></span>
        </div>
        <div class="col-md-6 text-right">
            <span class="label label-primary"><a href="#">Filtruj <i class="fa fa-filter fa-fw"></i></a></span>
        </div>
    </div>
    <div class="well text-left">

        <div class="row">
            <div class="col-md-4">
                <span class="label label-default label-title">{{ device.description }}</span>
            </div>
            <div class="col-md-4 text-center">
                    <span id="{{ device.id }}" class="label label-primary label-last-read">Ostatnia aktualizacja danych:
                            <span>-</span>
                    </span>
            </div>
            <div class="col-md-4 text-right">
                <span class="label label-primary">Liczba rejestrów: {{ device.registers|length }}</span>
            </div>
        </div>
        {% if device.registers|length > 0 %}
            <div class="row text-center">
                <div class="col-md-3 regs-bordered">
                    <div class="row">
                        <div class="col-md-7 name">
                            <small>Nazwa</small>
                        </div>
                        <div class="col-md-5 register_address_hex">
                            <small>Adres (HEX)</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 regs-bordered">
                    <div class="row">
                        <div class="col-md-12 read">
                            <small>Odczyt</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 regs-bordered">
                    <div class="row">
                        <div class="col-md-12 write">
                            <small>Zapis</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 regs-bordered">
                    <div class="row">
                        <div class="col-md-4 archive_register">
                            <small>Arch</small>
                        </div>
                        <div class="col-md-4 alarm_register">
                            <small>Alarm</small>
                        </div>
                        <div class="col-md-4 bit_register">
                            <small>Bitowy</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 fixed_value regs-bordered">
                    <div class="row">
                        <div class="col-md-12 write">
                            <small>Wartość</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 manage regs-bordered">
                    <div class="row">
                        <div class="col-md-12 write">
                            <small>Zarządzaj</small>
                        </div>
                    </div>
                </div>
            </div>
            {% for register in registers %}
                <div class="row text-center">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-7 name regs-bordered">
                                {{ register.name }}
                            </div>
                            <div class="col-md-5 register_address_hex regs-bordered">
                                {{ register.registerAddress }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 read">
                        <div class="row">
                            {% if register.activeRegister == 1 %}
                                <div class="col-md-3 regs-bordered">
                                    <i class="fa fa-check-square-o fa-fw fa-green"></i>
                                </div>
                                <div class="col-md-3 regs-bordered">
                                    {{ register.readFunction }}
                                </div>
                                <div class="col-md-6 regs-bordered">
                                    {% set readMod = 0 + register.modificatorRead %}
                                    {{ readMod }}
                                </div>
                            {% else %}
                                <div class="col-md-12 regs-bordered">
                                    <i class="fa fa-square-o fa-fw fa-red"></i>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-2 write">
                        <div class="row">
                            {% if register.writeRegister == 1 %}
                                <div class="col-md-3 regs-bordered">
                                    <i class="fa fa-check-square-o fa-fw fa-green"></i>
                                </div>
                                <div class="col-md-3 regs-bordered">
                                    {{ register.writeFunction }}
                                </div>
                                <div class="col-md-6 regs-bordered">
                                    {% set writeMod = 0 + register.modificatorWrite %}
                                    {{ writeMod }}
                                </div>
                            {% else %}
                                <div class="col-md-12 regs-bordered">
                                    <i class="fa fa-square-o fa-fw fa-red"></i>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-4 archive_register regs-bordered">
                                {% if register.archiveRegister == 1 %}
                                    <i class="fa fa-check-square-o fa-fw fa-green"></i>
                                {% else %}
                                    <i class="fa fa-square-o fa-fw fa-red"></i>
                                {% endif %}
                            </div>
                            <div class="col-md-4 alarm_register regs-bordered">
                                {% if register.alarmRegister == 1 %}
                                    <i class="fa fa-check-square-o fa-fw fa-green"></i>
                                {% else %}
                                    <i class="fa fa-square-o fa-fw fa-red"></i>
                                {% endif %}
                            </div>
                            <div class="col-md-4 bit_register regs-bordered">
                                {% if register.bitRegister == 1 %}
                                    <i class="fa fa-check-square-o fa-fw fa-green"></i>
                                {% else %}
                                    <i class="fa fa-square-o fa-fw fa-red"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="row">
                            <div class="col-md-12 fixed_value regs-bordered">
                                {% if register.activeRegister == 1 %}
                                    {{ register.registerCurrentData.fixedValue }}
                                {% else %}
                                    <i class="fa fa-minus fa-fw"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-10 manage regs-bordered">
                                <i id="{{ register.id }}" class="fa fa-refresh fa-fw fa-blue"></i>
                                <i id="{{ register.id }}" class="fa fa-edit fa-fw fa-green fa-register"></i>
                                <a href="{{ path('bms_configuration_del_register', {'comm_id': device.communicationType.id, 'device_id': device.id, 'register_id': register.id}) }}">
                                    <i class="fa fa-remove fa-fw fa-red"></i>
                                </a>
                                {% if register.writeRegister == 1 %}
                                    <i id="{{ register.id }}" class="fa fa-pencil fa-fw"></i>
                                {% endif %}
                            </div>
                            <div class="col-md-2 regs-bordered text-right">
                                <input type="checkbox" name="checkedRegId[]" value="{{ register.id }}"/>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row text-center">
                <div class="col-md-12">
                    <h2><span class="label label-primary"> Brak rejestrów</span></h2>
                </div>
            </div>
        {% endif %}
    </div>
</div>

