{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bmsConfiguration.css')}}">
{% endblock %}


{% block nav %}
    {{ parent() }}

{% endblock %}

{% block sidebar %}
    {% include 'BmsConfigurationBundle::sidebar.html.twig' %}
{% endblock %}

{% block body %}
    {% if sync == 1 %}
        <div class="row">
            <div class="col-md-12 text-center text-aqua">
                <button id="synchronizeDatabase" class="btn btn-default">Generuj konfigurację</button>
            </div>
        </div>  
    {% endif %}
    <div class="row main-row">
        {% include 'BmsConfigurationBundle::target.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bmsConfiguration.js') }}"></script>
{% endblock %}


