{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/bmsconfiguration/css/bmsConfiguration.css')}}">
{% endblock %}


{% block nav %}
    {{ parent() }}
    
{% endblock %}

{% block sidebar %}
    {% include 'BmsConfigurationBundle::sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="row main-row">
        {% include 'BmsConfigurationBundle::target.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/bmsconfiguration/js/bmsConfiguration.js') }}"></script>
{% endblock %}


