{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bmsConfiguration.css') }}">
{% endblock %}

{% block nav %}
    {{ parent() }}
    {% if sync == 1 %}
        <li><a>
                <button id="synchronizeDatabase" class="btn btn-xs btn-danger">Generuj konfigurację</button>
            </a></li>
    {% endif %}
{% endblock %}

{% block counter %}
    <span><div class="pie degree"><span class="block"></span></div></span>
{% endblock %}

{% block sidebar %}
    {% include 'BmsConfigurationBundle::sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="row main-row hidden-xs hidden-sm">
        {% include 'BmsConfigurationBundle::target.html.twig' %}
    </div>
    <div class="row hidden-md hidden-lg">
        <div class="col-md-12 text-center">
            <span class="label label-danger">Opcja niedostępna dla urządzeń mobilnych</span>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bmsConfiguration.js') }}"></script>
{% endblock %}


