{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bmsConfiguration.css')}}">
{% endblock %}


{% block nav %}
    {{ parent() }}
    {% if sync == 1 %}
        <button id="synchronizeDatabase" class="btn btn-xs btn-danger">Generuj konfigurację</button>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% include 'BmsConfigurationBundle::sidebar.html.twig' %}
{% endblock %}

{% block body %}

    <div class="row main-row">
        {% include 'BmsConfigurationBundle::target.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bmsConfiguration.js') }}"></script>
{% endblock %}


