{# src/BmsConfigurationBundle/Resources/views/register.html.twig  #}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="col-md-12 text-left">
    <span class="label label-primary hide-mainrow-label">{{register.device.communicationType.name}} > {{register.device.name}} > {{register.name}} - konfiguracja <i class="fa fa-angle-left fa-angle-down fa-fw"></i></span>
    <div class="well register text-left">
        {{form_start(form)}}
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        {{form_label(form.name)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        {{form_widget(form.name)}}
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                {{form_row(form.description)}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6">
                        {{form_label(form.register_address)}}<br />
                        (format szesnastkowy)
                    </div>
                    <div class="col-md-6">
                        {{form_label(form.register_address)}}<br />
                        (format dziesiętny)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 register_address_hex">
                        {{form_widget(form.register_address)}}
                    </div>
                    <div class="col-md-5 col-md-offset-1 register_address_dec">
                        <input type="text" disabled class="form-control" maxlength="5"></input>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        {{form_label(form.function)}}<br /><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        {{form_widget(form.function)}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{form_label(form.modificator_read)}}
                    </div>
                    <div class="col-md-6">
                        {{form_label(form.register_size)}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <input type="text" class="form-control" value="wartość rzeczywista = wartość odczytana" disabled="disabled"></input>
                        </div>
                        <div class="col-md-1">
                            <select id="read_mod_operator"  class="form-control" disabled="disabled">
                                <option value="*">*</option>
                                <option value="/">/</option>
                            </select>
                        </div>
                        <div  class="col-md-2">
                            <input id="read_mod_val" type="text" class="form-control" value="" disabled="disabled"></input>
                        </div>
                        <div class="col-md-2 hidden">
                            {{form_widget(form.modificator_read)}}
                        </div>
                        <div class="col-md-3">
                            {{form_widget(form.register_size)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hidden">
            <div class="col-md-3 col-md-offset-1">
                <div class="row">
                    <div class="col-md-12">
                        {{form_label(form.modificator_write)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{form_widget(form.modificator_write)}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        {{form_label(form.scan_queue)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {{form_widget(form.scan_queue)}}
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12">
                        {{form_label(form.display_suffix)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {{form_widget(form.display_suffix)}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{form_row(form.archive)}}                
                {{form_row(form.active)}}
            </div>
        </div>
        <div class="row text-right">
            <div class="col-md-12">
                <button class="btn btn-default btn-edit" type="button">Edytuj</button>

                <input class="btn btn-default btn-save" type="submit" value="Zapisz zmiany" />
                <input class="btn btn-default btn-cancel" type="button" value="Anuluj" />
            </div>
        </div>
        {{form_rest(form)}}
        {{form_end(form)}}
    </div>
</div>

