{# src/BmsConfigurationBundle/Resources/views/register.html.twig  #}


<div class="col-md-12 text-left">
    <span class="label label-primary hide-mainrow-label">{{register.device.communicationType.name}} > {{register.device.name}} > {{register.name}} - konfiguracja <i class="fa fa-angle-left fa-angle-down fa-fw"></i></span>
    <span class="registerValue hidden-item">{{register.registerCurrentData.realValue}}</span>
    <div class="well register text-left">
        {{form_start(form)}}
        <div class="row">
            <div class="col-md-3">
                {{form_row(form.name)}}
            </div>
            <div class="col-md-4 col-md-offset-1">
                {{form_row(form.description)}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        {{form_label(form.register_address)}} (HEX)
                    </div>
                    <div class="col-md-6">
                        {{form_label(form.register_address)}} (DEC)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 register_address_hex">
                        {{form_widget(form.register_address)}}
                    </div>
                    <div class="col-md-4 col-md-offset-2 register_address_dec">
                        <input type="text" disabled class="form-control" maxlength="5"></input>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                {{form_row(form.register_size)}}
            </div>
            <div class="col-md-2">             
                {{form_row(form.active_register)}}   
                {{form_row(form.archive_register)}}   
            </div>     
            <div class="col-md-2">
                {{form_row(form.bit_register)}}          
                {{form_row(form.alarm_register)}}    
            </div>    
            <div class="col-md-2">     
                {{form_row(form.write_register)}}   
            </div>         
        </div>
        {# Odczyt #}
        <div class="row">
            <div class="col-md-4">
                {{form_row(form.read_function)}}
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">-</label>
                    <input type="text" class="form-control" value="wartość rzeczywista = wartość odczytana" disabled="disabled"></input>
                </div>
            </div>
            <div class="col-md-1">
                <label class="control-label">Operator</label>
                <select id="read_mod_operator" class="form-control" disabled="disabled">
                    <option value="*">*</option>
                    <option value="/">/</option>
                </select>
            </div>
            <div  class="col-md-2">
                <label class="control-label">Współczynnik</label>
                <input id="read_mod_val" type="text" class="form-control" value="" disabled="disabled"></input>
            </div>
            <div class="hidden">
                {{form_widget(form.modificator_read)}}
            </div>
        </div>
        {# Zapis #}
        <div class="row">
            <div class="col-md-4">
                {{form_row(form.write_function)}}
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">-</label>
                    <input type="text" class="form-control" value="wartość zapisana = wartość wysłana" disabled="disabled"></input>
                </div>
            </div>
            <div class="col-md-1">
                <label class="control-label">Operator</label>
                <select id="write_mod_operator"  class="form-control" disabled="disabled">
                    <option value="*">*</option>
                    <option value="/">/</option>
                </select>
            </div>
            <div  class="col-md-2">
                <label class="control-label">Współczynnik</label>
                <input id="write_mod_val" type="text" class="form-control" value="" disabled="disabled"></input>
            </div>
            <div class="hidden">
                {{form_widget(form.modificator_write)}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <label class="control-label">Dopuszczalne wartości do zapisu</label>
                <select id="write_limit_type"  class="form-control" disabled="disabled">
                    <option value="interval">Przedział</option>
                    <option value="set">Zbiór</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label">Limit min</label>
                <input id="write_limit_min" type="number" class="form-control" value="" disabled="disabled"></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">Limit max</label>
                <input id="write_limit_max" type="number" class="form-control" value="" disabled="disabled"></input>
            </div>
            <div class="col-md-2">
                <label class="control-label">Krok</label>
                <input id="write_limit_step" type="number" class="form-control" value="" disabled="disabled"></input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                {{form_row(form.description2)}} 
            </div>
        </div>
        <div class="row bits-label {% if register.bitRegister == 0 %}hidden-item {% endif %}">
            <div class="col-md-2 text-center">
                <label>Nazwa skrócona</label>
            </div>
            <div class="col-md-5 text-center">
                <label>Opis</label>
            </div>
            <div class="col-md-1 text-center">
                <label>Wartość</label>
            </div>
        </div>
        <div class="row bits" data-prototype="{{ form_widget(form.bit_registers.vars.prototype)|e }}">
            <div class="col-md-12">   
                {% for bit_register in form.bit_registers %}                        
                    <div class="row bit_registers">
                        <div class="col-md-2 text-center">
                            <span class="bitName"></span>
                        </div> 
                        <div class="col-md-5 text-center">
                            {{form_row(bit_register.description)}}
                        </div> 
                        <div class="col-md-1 text-center">
                            <span class="bitValue"></span>
                        </div> 
                        {{form_row(bit_register.bitPosition)}}
                        {{form_row(bit_register.register)}}
                        {{form_row(bit_register.name)}}
                        {{form_row(bit_register.bitValue)}}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row text-right">
            <div class="col-md-12">
                <button class="btn btn-default btn-edit" type="button">Edytuj</button>
                <input class="btn btn-default btn-save" type="submit" value="Zapisz zmiany" />
                <input class="btn btn-default btn-cancel" type="button" value="Anuluj" />
            </div>
        </div>
        {{form_rest(form)}}
        {{form_end(form)}}
    </div>
</div>

