{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tmpVisualization.css')}}">
{% endblock %}


{% block nav %}
    {{ parent() }}
    <a href="{{path('bms_index')}}">
        <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-building fa-fw"></i> BMS</button>
    </a>
    <a href="{{path('bms_configuration_index')}}">
        <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-wrench"></i> Konfiguracja</button>
    </a>
    <a href="{{path('bms_visualization_index')}}">
        <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-paint-brush"></i> Wizualizacja</button>
    </a>
{% endblock %}

{% block sidebar %}
    {% include 'BmsVisualizationBundle::sidebar.html.twig' %}
    
{% endblock %}

{% block body %}
    
    <div class="row main-row">
        <div class="col-md-12">

            
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tmpVisualization.js') }}"></script>
{% endblock %}

