{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tmpVisualization.css')}}">
{% endblock %}


{% block nav %}
    {{ parent() }}
   
{% endblock %}

{% block sidebar %}
    {% include 'BmsVisualizationBundle::sidebar.html.twig' %}
    
{% endblock %}

{% block body %}
    
    <div class="row main-row">
        <div class="col-md-12">

            
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tmpVisualization.js') }}"></script>
    <script src="{{ asset('js/condition.js') }}"></script>
{% endblock %}

