{% for page in pages %}
    {% if page.id == page_id %}

        <div id="{{page.id}}" class="label label-primary label-page active">
            <span id="name">{{page.name}}</span><span id="id" class="hidden">{{page.id}}</span>
            <i class="fa fa-fw fa-cogs fa-yellow"></i>
            {% if page.id == 1 %}
            {% else %}
                <i class="fa fa-fw fa-remove fa-red"></i>
            {% endif %}
        </div>

    {% else %}
        <div id="{{page.id}}" class="label label-default label-page">
            <span id="id">{{page.id}}</span> - <span id="name">{{page.name}}</span>
        </div>
    {% endif %}
{% endfor %}
{% for page in pages %}
    {% if page.id == page_id %}
        <div class="well" style="
             width: {{page.width}}px;
             height: {{page.height}}px;
             background-color: {{page.backgroundColor}};
             ">
            {% for panel in page.panels %}
                {% include 'BmsVisualizationBundle::panel.html.twig' %}
            {% endfor %}            
        </div>
    {% endif %}
{% endfor %}
