<div 
    {% if (panel.href is not null) and (panel.href != "") %}
        onclick="ajaxChangePage( {{panel.href}} );"
    {% endif %}
    title="{{panel.name}}" id="{{panel.id}}" class="bms-panel text-{{panel.textAlign}} bms-panel-{{panel.type}}" 
    style="
    top: {{panel.topPosition}}px; 
    left: {{panel.leftPosition}}px; 
    width: {{panel.width}}px; 
    height: {{panel.height}}px;
    border: {{panel.border}};
    border-radius: {{panel.borderRadius}};
    background-color: {{panel.backgroundColor}};
    font-weight: {{panel.fontWeight}};
    text-decoration: {{panel.textDecoration}};
    font-style: {{panel.fontStyle}};
    font-family: {{panel.fontFamily}};
    color: {{panel.fontColor}};
    font-size: {{panel.fontSize}}px;
    line-height: {{panel.height}}px;
    z-index: {{panel.zIndex}};
    {% if terms is defined %}
        {% for term in terms %}
            {% if term.panel_id == panel.id %}
                display: none;
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if panel.visibility == 0 %}
        display: none;
    {% endif %}
    {% if (panel.href is not null) and (panel.href != "") %}
        cursor: pointer;
    {% endif %}
    ">
    {% if panel.type == 'text' %}
        <span class="bms-panel-content">{{panel.contentSource}}</span>
    {% elseif panel.type == 'variable' %}
        <span id="{{panel.contentSource}}" class="bms-panel-content" value="{{panel.displayPrecision}}"></span>
    {% elseif panel.type == 'image' %}
        <img class="img-responsive" src="{{panel.contentSource}}"/>
    {% elseif panel.type == 'widget'%}
        <div class="progress" style="margin-bottom: 0px;">
            <div id="{{panel.contentSource}}" style="position: absolute; top: -2px; left: 0%; height: 100%">
                <img src="/images/system/line.jpg" class="img-responsive"/>
                {#                <i class="fa fa-arrow-down fa-fw"></i>#}
            </div>
            <div class="progress-bar progress-bar-info" role="progressbar" style="width: 53.33%">
            </div>
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 20%">
            </div>
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 26.67%">
            </div>
        </div>
        <div class="progress progress-label">
            <div class="text-right" style="width:4%; float:left">
                15°C
            </div>
            <div class="text-right" style="width:53.33%; float:left">
                23°C
            </div>
            <div class="text-right" style="width: 20%; float:left">
                26°C
            </div>
            <div class="text-right" style="width: 22.67%; float:left">
                30°C
            </div>
        </div>
    {% elseif panel.type == 'widgetTemp'%}
        <div class="progress" style="margin-bottom: 0px;">
            <div id="{{panel.contentSource}}" style="position: absolute; top: -2px; left: 0%; height: 100%">
                <img src="/images/system/line.jpg" class="img-responsive"/>
                {#                <i class="fa fa-arrow-down fa-fw"></i>#}
            </div>
            <div class="progress-bar progress-bar-info" role="progressbar" style="width: 44%">
                Temperatura (°C)
            </div>
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 32%">
            </div>
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 24%">
            </div>
        </div>
        <div class="progress progress-label">
            <div class="text-right" style="width: 4%; float:left">
                0
            </div>
            <div class="text-right" style="width: 44%; float:left">
                22
            </div>
            <div class="text-right" style="width: 32%; float:left">
                38
            </div>
            <div class="text-right" style="width: 20%; float:left">
                50
            </div>
        </div>
    {% elseif panel.type == 'widgetPh'%}
        <div class="progress" style="margin-bottom: 0px;">
            <div id="{{panel.contentSource}}" style="position: absolute; top: -2px; left: 0%; height: 100%">
                <img src="/images/system/line.jpg" class="img-responsive"/>
                {#                <i class="fa fa-arrow-down fa-fw"></i>#}
            </div>
            <div class="progress-bar progress-bar-info" role="progressbar" style="width: 33.33%">
                pH
            </div>
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 13.34%">
            </div>
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 53.33%">
            </div>
        </div>
        <div class="progress progress-label">
            <div class="text-right" style="width: 4%; float:left">
                6
            </div>
            <div class="text-right" style="width: 33.33%; float:left">
                7
            </div>
            <div class="text-right" style="width: 13.34%; float:left">
                7,4
            </div>
            <div class="text-right" style="width: 49.33%; float:left">
                9
            </div>
        </div>
    {% elseif panel.type == 'widgetOrp'%}
        <div class="progress" style="margin-bottom: 0px;">
            <div id="{{panel.contentSource}}" style="position: absolute; top: -2px; left: 0%; height: 100%">
                <img src="/images/system/line.jpg" class="img-responsive"/>
                {#                <i class="fa fa-arrow-down fa-fw"></i>#}
            </div>
            <div class="progress-bar progress-bar-info" role="progressbar" style="width: 50%">
                ORP (mV)
            </div>
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 30%">
            </div>
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 20%">
            </div>
        </div>
        <div class="progress progress-label">
            <div class="text-right" style="width: 4%; float:left">
                -1500
            </div>
            <div class="text-right" style="width: 50%; float:left">
                0
            </div>
            <div class="text-right" style="width: 30%; float:left">
                900
            </div>
            <div class="text-right" style="width: 16%; float:left">
                1500
            </div>
        </div>
    {% elseif panel.type == 'widgetCl'%}
        <div class="progress" style="margin-bottom: 0px;">
            <div id="{{panel.contentSource}}" style="position: absolute; top: -2px; left: 0%; height: 100%">
                <img src="/images/system/line.jpg" class="img-responsive"/>
                {#                <i class="fa fa-arrow-down fa-fw"></i>#}
            </div>
            <div class="progress-bar progress-bar-info" role="progressbar" style="width: 50%">
                Cl (ppm)
            </div>
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 30%">
            </div>
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 20%">
            </div>
        </div>
        <div class="progress progress-label">
            <div class="text-right" style="width: 4%; float:left">
                0
            </div>
            <div class="text-right" style="width: 50%; float:left">
                0,5
            </div>
            <div class="text-right" style="width: 30%; float:left">
                0,85
            </div>
            <div class="text-right" style="width: 16%; float:left">
                1
            </div>
        </div>
    {% endif %}
</div>

