<div title="{{panel.name}}" id="{{panel.id}}" class="bms-panel {{panel.textAlign}}" 
     style="
     top: {{panel.topPosition}}px; 
     left: {{panel.leftPosition}}px; 
     width: {{panel.width}}px; 
     height: {{panel.height}}px;
     border: {{panel.border}};
     border-radius: {{panel.borderRadius}};
     background-color: {{panel.backgroundColor}};
     font-weight: {{panel.fontWeight}};
     text-decoration: {{panel.textDecoration}};
     font-style: {{panel.fontStyle}};
     font-family: {{panel.fontFamily}};
     color: {{panel.fontColor}};
     font-size: {{panel.fontSize}}px;
     line-height: {{panel.height}}px;
     z-index: {{panel.zIndex}};
     ">
    <div id="bms-panel-content"></div>
</div>

