<div title="{{panel.name}}" id="{{panel.id}}" class="bms-panel text-{{panel.textAlign}}" 
     style="
     top: {{panel.topPosition}}px; 
     left: {{panel.leftPosition}}px; 
     width: {{panel.width}}px; 
     height: {{panel.height}}px;
     border: {{panel.border}};
     border-radius: {{panel.borderRadius}};
     background-color: {{panel.backgroundColor}};
     font-weight: {{panel.fontWeight}};
     text-decoration: {{panel.textDecoration}};
     font-style: {{panel.fontStyle}};
     font-family: {{panel.fontFamily}};
     color: {{panel.fontColor}};
     font-size: {{panel.fontSize}}px;
     line-height: {{panel.height}}px;
     z-index: {{panel.zIndex}};
     overflow: hidden;
     {% if panel.visibility == 0 %}
         display: none;
     {% endif %}
     ">
    {% set sources = panel.contentSource|split(';') %}
    {% for s in sources %}
        {% set content = s|split('.') %}
        {% if content[0] == 't' %}
            <span class="bms-panel-content">{{content[1]}}</span>
        {% elseif content[0] == 'v' %}
            <span id="{{content[1]}}" class="bms-panel-content"></span>
        {% elseif content[0] == 'f' %}
            <img class="img-responsive" src="{{content[1]}}.{{content[2]}}"/>
        {% endif %}
    {% endfor %}
</div>

