{% extends 'VisualizationBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-select.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-select.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('select#input_number_destination').selectpicker({
                style: "btn dropdown-toggle btn-warning btn-sm"
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-8 text-center">
                    <h1>Pole sterujące</h1>
                </div>
            </div>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="text-center"><span class="label label-primary">Ogólne</span></h5>
                        </div>
                    </div>
                    {{ form_row(form.name) }}
                    {{ form_row(form.tooltip) }}
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="text-center"><span class="label label-primary">Pozycja</span></h5>
                        </div>
                    </div>
                    {{ form_row(form.topPosition) }}
                    {{ form_row(form.leftPosition) }}
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="text-center"><span class="label label-primary">Rozmiar</span></h5>
                        </div>
                    </div>
                    {{ form_row(form.width) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="text-center"><span class="label label-primary">Źródło</span></h5>
                        </div>
                    </div>
                    {{ form_row(form.destination) }}
                </div>
            </div>
            <h1></h1>
            <div class="btn-group">
                <a class="btn btn-warning" href="{{ path('page_show', {'id': inputNumber.page.id}) }}">
                    <i class="fa fa-arrow-left"></i> Anuluj
                </a>
                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Zapisz</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
