{% extends 'base.html.twig' %}

{% block body %}
    <h1>InputNumber list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inputNumber in inputNumbers %}
            <tr>
                <td><a href="{{ path('inputnumber_show', { 'id': inputNumber.id }) }}">{{ inputNumber.id }}</a></td>
                <td>{{ inputNumber.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('inputnumber_show', { 'id': inputNumber.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('inputnumber_edit', { 'id': inputNumber.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('inputnumber_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
