<div
        {% if (inputNumber.eventLink is not empty) %}
            onclick="ajaxChangePage({{ inputNumber.eventLink.page.id }});"
        {% endif %}
        name="{{ inputNumber.name }}"
        id="{{ inputNumber.id }}" class="bms-panel bms-inputnumber"
        style="
                top: {{ inputNumber.topPosition }}px;
                left: {{ inputNumber.leftPosition }}px;
                width: {{ inputNumber.width }}px;
                height: {{ inputNumber.height }}px;
                line-height: {{ inputNumber.height }}px;
                z-index: {{ inputNumber.zIndex }};
        {% if (inputNumber.eventLink is not empty) %}
                cursor: pointer;
        {% endif %}
                ">
    INPUT NUMBER
    {% if labels %}
        <span class="label label-primary label-bms-panel">
            <i class="fa fa-font fa-fw"></i> {{ inputNumber.id }}
            <a href="{{ path('inputnumber_copy', {'id': inputNumber.id }) }}"><i class='fa fa-fw fa-clone fa-blue'></i></a>
            <a href="{{ path('inputnumber_edit', {'id': inputNumber.id }) }}"><i class='fa fa-fw fa-cogs fa-yellow'></i></a>
            <a href="{{ path('inputnumber_delete', {'id': inputNumber.id }) }}"><i class='fa fa-fw fa-trash-o fa-red'></i></a>
        </span>
    {% endif %}
</div>