<div
        {% if panelVariable.tooltip %}
            title="{{ panelVariable.name }}"
        {% endif %}
        name="{{ panelVariable.name }}"
        id="{{ panelVariable.id }}"
        class="bms-panel bms-panelvariable text-{{ panelVariable.textAlign }}"
        style="
                top: {{ panelVariable.topPosition }}px;
                left: {{ panelVariable.leftPosition }}px;
                width: {{ panelVariable.width }}px;
                height: {{ panelVariable.height }}px;
                border-style: {{ panelVariable.borderStyle }};
                border-width: {{ panelVariable.borderWidth }}px;
                border-color: {{ panelVariable.borderColor }};
                border-top-left-radius: {{ panelVariable.borderRadiusLeftTop }}px;
                border-bottom-left-radius: {{ panelVariable.borderRadiusLeftBottom }}px;
                border-top-right-radius: {{ panelVariable.borderRadiusRightTop }}px;
                border-bottom-right-radius: {{ panelVariable.borderRadiusRightBottom }}px;
                background-color: {{ panelVariable.backgroundColor }};
                font-weight: {{ panelVariable.fontWeight }};
                text-decoration: {{ panelVariable.textDecoration }};
                font-style: {{ panelVariable.fontStyle }};
                font-family: {{ panelVariable.fontFamily }};
                color: {{ panelVariable.fontColor }};
                font-size: {{ panelVariable.fontSize }}px;
                line-height: {{ panelVariable.height }}px;
                z-index: {{ panelVariable.zIndex }};
                ">

    <span id="{{ panelVariable.source }}" class="bms-panel-content"></span>
    <input id="{{ panelVariable.source }}" type="hidden" value="{{ panelVariable.displayPrecision }}"/>
    {% if labels %}
        <span class="label label-primary label-bms-panel">
            <i class="fa fa-hdd-o fa-fw"></i> {{ panelVariable.id }}
            <a href="#"><i class='fa fa-fw fa-clone fa-blue'></i></a>
            <a href="{{ path('panelvariable_edit', {'id': panelVariable.id }) }}"><i class='fa fa-fw fa-cogs fa-yellow'></i></a>
            <a href="{{ path('panelvariable_delete', {'id': panelVariable.id }) }}"><i class='fa fa-fw fa-trash-o fa-red'></i></a>
        </span>
    {% endif %}
</div>