<div
        {% if (panelVariable.eventLink is not empty) %}
            onclick="ajaxChangePage({{ panelVariable.eventLink.page.id }});"
        {% endif %}
        {% if panelVariable.tooltip %}
            title="{{ panelVariable.name }}"
        {% endif %}
        name="{{ panelVariable.name }}"
        id="{{ panelVariable.id }}"
        class="bms-panel bms-panelvariable text-{{ panelVariable.textAlign }}"
        style="
                top: {{ panelVariable.topPosition }}px;
                left: {{ panelVariable.leftPosition }}px;
                width: {{ panelVariable.width }}px;
                height: {{ panelVariable.height }}px;
                border-style: {{ panelVariable.borderStyle }};
                border-width: {{ panelVariable.borderWidth }}px;
                border-color: {{ panelVariable.borderColor }};
                border-top-left-radius: {{ panelVariable.borderRadiusLeftTop }}px;
                border-bottom-left-radius: {{ panelVariable.borderRadiusLeftBottom }}px;
                border-top-right-radius: {{ panelVariable.borderRadiusRightTop }}px;
                border-bottom-right-radius: {{ panelVariable.borderRadiusRightBottom }}px;
                background-color: {{ panelVariable.backgroundColor|hexToRgba(panelVariable.backgroundOpacity) }});
                font-weight: {{ panelVariable.fontWeight }};
                text-decoration: {{ panelVariable.textDecoration }};
                font-style: {{ panelVariable.fontStyle }};
                font-family: {{ panelVariable.fontFamily }};
                color: {{ panelVariable.fontColor }};
                font-size: {{ panelVariable.fontSize }}px;
                line-height: {{ panelVariable.height - 2 * panelVariable.borderWidth }}px;
                z-index: {{ panelVariable.zIndex }};
        {% if (panelVariable.eventLink is not empty) %}
                cursor: pointer;
        {% endif %}
        {% if (panelImage.eventsHideShow is not empty) %}
                display: none;
        {% endif %}
                ">

    <span id="{{ panelVariable.source }}" class="bms-panel-content">
        {% for register in registers %}
            {% if register.panel_id == panelVariable.id %}
                {{ register.fixed_value|round(panelVariable.displayPrecision)|number_format(panelVariable.displayPrecision) }}
            {% endif %}
        {% endfor %}
    </span>
    <input id="{{ panelVariable.source }}" type="hidden" value="{{ panelVariable.displayPrecision }}"/>
    {% if labels %}
        <span class="label label-primary label-bms-panel">
            <i class="fa fa-hdd-o fa-fw"></i> {{ panelVariable.id }}
            <a href="{{ path('panelvariable_copy', {'id': panelVariable.id }) }}">
                <i class='fa fa-fw fa-clone fa-blue'></i></a>
            <a href="{{ path('panelvariable_events', {'id': panelVariable.id }) }}">
                <i class='fa fa-fw fa-bolt fa-yellow'></i>
            </a>
            <a href="{{ path('panelvariable_edit', {'id': panelVariable.id }) }}">
                <i class='fa fa-fw fa-cogs fa-yellow'></i>
            </a>
            <a href="{{ path('panelvariable_delete', {'id': panelVariable.id }) }}">
                <i class='fa fa-fw fa-trash-o fa-red'></i>
            </a>
        </span>
    {% endif %}
</div>