{# /app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BMS OnLine {% block title %}-{% endblock %} Klimbest</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css')}}">
            <link rel="stylesheet" href="{{ asset('css/jquery-ui.css')}}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome.css')}}">
            <link rel="stylesheet" href="{{ asset('css/csshake.css')}}">
            <link rel="stylesheet" href="{{ asset('css/main.css')}}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('web/favicon.ico') }}" />
    </head>
    <body>
        {#<div class="cookie text-center">
            <span style="background-color: ">Nasza strona używa plików cookie do prawidłowego działania. Pozostając na tej stronie, wyrażasz zgodę na korzystanie z plików cookie.</span><br/>
            <a href="{{ path('app_homepage_private_policy') }}"> 
                <button type="button" class="btn btn-default btn-xs">Polityka prywatności</button>
            </a>
            <button id="close-cookie" type="button" class="btn btn-success btn-xs">Ok, rozumiem</button>
        </div>#}
        <div class="container-fluid content-container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{path('bms_index')}}">
                            <img src="{{ asset('images/logo.jpg') }}">
                        </a>
                    </div>  
                    <ul class="nav navbar-nav">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{{path('bms_index')}}">
                                    <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-building fa-fw"></i> BMS</button>
                                </a>
                                <a href="{{path('bms_data_analyze_index')}}">
                                    <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-line-chart"></i> Analiza danych</button>
                                </a>
                                <a href="{{path('bms_configuration_index')}}">
                                    <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-wrench"></i> Konfiguracja</button>
                                </a>
                                <a href="{{path('bms_visualization_index')}}">
                                    <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-paint-brush"></i> Wizualizacja</button>
                                </a>
                                <a href="{{path('bms_alarm_index')}}">
                                    <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-bell-o"></i> Historia alarmów</button>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span class="label label-primary">Czas: </span><span class="label label-primary clock"></span>
                                <div class="progress timer" style="margin-bottom: 1px;">
                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;"></div>
                                </div>
                            </div>                            
                            <div class="col-md-9 text-right">
                                <span id="errorModbusConnection" class="fa-stack">
                                    <img src="/images/system/connected.png" class="img-responsive" />
                                </span>                            
                                <span id="noInternetConnection" class="fa-stack">
                                    <img src="/images/system/ethernetOn.png" class="img-responsive" />
                                </span>   
                            </div>
                        </div>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <div class="row">
                            <div class="col-md-12">

                                {% block nav %}
                                {% endblock %}

                                <a href="{{path('fos_user_profile_show')}}">
                                    <button type="button" class="btn btn-default navbar-btn disabled"><i class="fa fa-user"></i> Karta użytkownika</button>
                                </a>
                                <a href="{{path('fos_user_security_logout')}}">
                                    <button type="button" class="btn btn-default navbar-btn disabled"><i class="fa fa-sign-out"></i> Wyloguj</button>                                
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                {% if app.user %}
                                    <small><strong>{{ app.user.username }}</strong></small>
                                {% else %}
                                    <small><strong>Nazwa użytkownika</strong></small>
                                {% endif %}
                            </div>
                        </div>
                    </ul>
                    {% block sidebar %}
                    {% endblock %}
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-6 error-message text-center">
                            <i class='fa fa-warning fa-3x blink fa-red'></i>
                            <i class='fa fa-remove fa-1x fa-red'></i>
                        </div>
                    </div>
                </div>
            </nav>
            {% block body %}

            {% endblock %}  
        </div>
        {#<div class="row">
            <div class="col-xs-3 col-xs-offset-1">
                Copyright: Klimbest © 2015<br/>
                31-752 Kraków, ul. K. Makuszyńskiego 15/3A
            </div>
            <div class="col-xs-4 text-center">
                <strong>BMSOnLine</strong><br/>
                Jest własnością firmy KLIMBEST
            </div>
            <div class="col-xs-3 text-right">
                <a href="{ path('app_homepage_private_policy') }">Polityka prywatności</a><br/>
                <a href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-2x" style="color: #dd4b39"></i></a>
                <a href="https://twitter.com/"><i class="fa fa-twitter-square fa-2x" style="color: #55acee"></i></a>
                <a href="https://www.facebook.com/share.php?u=http%3A%2F%2Fwww.bmsonline.pl%2F"><i class="fa fa-facebook-square fa-2x" style="color: #3b5998"></i></a>
                <a href="https://www.rss.com/"><i class="fa fa-rss-square fa-2x" style="color: #f26522"></i></a>
            </div>
        </div>#}
    {% block javascripts %}
        <script src="{{ asset('js/__jquery-1.11.3.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="{{ asset('js/datetimepicker-master/jquery.datetimepicker.js') }}"></script>
        <script src="{{ asset('js/_bootstrap.js') }}"></script>
        <script src="{{ asset('js/jquery.cookie.js') }}"></script>
        <script src="{{ asset('js/jquery-ui.js') }}"></script>
        <script src="{{ asset('js/jquery.formatDateTime.js') }}"></script>
        <script src="{{ asset('js/jquery.ui.resizable.snap.ext.js') }}"></script>
        <script src="{{ asset('js/jquery.ae.image.resize.js') }}"></script>


    {% endblock %}
</body>
</html>
