{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/condition.css')}}">
{% endblock %}

<div class="dialog-condition" title="Nowy warunek:">
    <div id="step1" class="row">
        <div class="col-md-1">
            <div class="row row-top">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row row-middle">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row row-bottom">
                <div class="col-md-12">

                </div>
            </div>
        </div>
        <div class="col-md-10 text-center">
            <h3><span class="label label-primary">Wybierz rejestr do którego chcesz zastosować warunek:</span></h3>
            <div class="row header">
                <div class="col-md-2 lead small">
                    <div class="row">
                        <div class="col-md-12">
                            Urządzenie
                        </div>
                    </div>
                    {% for device in devices %}
                        <div class="row">
                            <div class="col-md-12">
                                <input class="device" type="checkbox" name="device-{{device.id}}" value="{{device.id}}" checked/> {{device.name}}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-1">
                    <span class="lead small">Funkcja odczytu</span>
                </div>
                <div class="col-md-1">
                    <span class="lead small">Adres rejestru(HEX)</span>
                </div>
                <div class="col-md-2">
                    <span class="lead small">Nazwa skrócona</span>
                </div>    
                <div class="col-md-5">
                    <span class="lead small">Pełna nazwa</span>
                </div>
            </div>
            <div class="row body">
                <div class="col-md-12">
                    {% if registers|length > 0 %}
                        {% for register in registers|sort %}
                            <div id="{{register.id}}" class="row register-choice">
                                <div class="col-md-2 {{register.device.id}}">{{ register.device.name }}</div>
                                <div class="col-md-1">{{ register.function }}</div>
                                <div class="col-md-1">{{ register.registerAddress }}</div>
                                <div class="col-md-2 text-left">{{ register.name }}</div>
                                <div class="col-md-5 text-left">{{ register.description}}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="row row-top">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row row-middle">
                <div class="col-md-12">
                    <button id="step2" class="btn btn-default btn-sm next">Krok 2 <i class="fa fa-arrow-circle-o-right"></i></button>
                </div>
            </div>
            <div class="row row-bottom">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
    <div id="step2" class="row">
        <div class="col-md-1">
            <div class="row row-top">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row row-middle">
                <div class="col-md-12">
                    <button id="step1" class="btn btn-default btn-sm prev"><i class="fa fa-arrow-circle-o-left"></i> Krok 1</button>
                </div>
            </div>
            <div class="row row-bottom">
                <div class="col-md-12">

                </div>
            </div>
        </div>
        <div class="col-md-10 text-center">
            <h3><span class="label label-primary">Wybierz warunek:</span></h3>
            <div class="row">
                <div class="col-md-2 col-md-offset-3">
                    <select id="condition_type" class="form-control" name="condition_type">
                        <option value="==">=</option>
                        <option value="!=">&ne;</option>
                        <option value=">">&gt;</option>
                        <option value=">=">&ge;</option>
                        <option value="<">&lt;</option>
                        <option value="<=">&le;</option>
                    </select>
                </div>
                <div class="col-md-2 col-md-offset-2">
                    <input id="condition_val" type="text" class="form-control" name="condition_val"/>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="row row-top">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row row-middle">
                <div class="col-md-1">
                    <button id="step3" class="btn btn-default btn-sm next">Krok 3 <i class="fa fa-arrow-circle-o-right"></i></button>
                </div>
            </div>
            <div class="row row-bottom">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
    <div id="step3" class="row">
        <div class="col-md-1">
            <div class="row row-top">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row row-middle">
                <div class="col-md-12">
                    <button id="step2" class="btn btn-default btn-sm prev"><i class="fa fa-arrow-circle-o-left"></i> Krok 2</button>
                </div>
            </div>
            <div class="row row-bottom">
                <div class="col-md-12">

                </div>
            </div>
        </div>
        <div class="col-md-10 text-center">
            <h3><span class="label label-primary">Wybierz typ efektu gdy warunek się zgadza:</span></h3>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <select id="effect_type" class="form-control" name="effect_type">
                        <option value="css">Zmiana właściwości wyglądu (np.: kolor, czcionka, ramka)</option>
                        <option value="src">Wyświetlenie obrazka</option>
                        <option value="spin">Obrót elementu</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="row row-top">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row row-middle">
                <div class="col-md-1">
                    <button id="step4" class="btn btn-default btn-sm next">Krok 4 <i class="fa fa-arrow-circle-o-right"></i></button>
                </div>
            </div>
            <div class="row row-bottom">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
    <div id="step4" class="row">
        <div class="col-md-1">
            <div class="row row-top">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row row-middle">
                <div class="col-md-12">
                    <button id="step3" class="btn btn-default btn-sm prev"><i class="fa fa-arrow-circle-o-left"></i> Krok 3</button>
                </div>
            </div>
            <div class="row row-bottom">
                <div class="col-md-12">

                </div>
            </div>
        </div>
        <div class="col-md-10">
            <h3><span class="label label-primary">Wybierz panel, do którego efekt ma być zastosowany:</span></h3>
            <div class="row header">
                <div class="col-md-3 lead small">
                    <div class="row">
                        <div class="col-md-12">
                            Strona
                        </div>
                    </div>
                    {% for page in pages %}
                        <div class="row">
                            <div class="col-md-12">
                                <input class="device" type="checkbox" name="device-{{page.id}}" value="{{page.id}}" checked/> {{page.name}}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-3">
                    <span class="lead small">Id</span>
                </div>  
                <div class="col-md-3">
                    <span class="lead small">Typ</span>
                </div>
                <div class="col-md-3">
                    <span class="lead small">Zawartość</span>
                </div>
            </div>
            <div class="row body">
                <div class="col-md-12">
                    {% if panels|length > 0 %}
                        {% for panel in panels|sort %}
                            <div id="{{panel.id}}" class="row panel-choice">
                                <div class="col-md-3 {{panel.page.id}}">{{ panel.page.name }}</div>
                                <div class="col-md-3">{{ panel.id }}</div>
                                <div class="col-md-3">{{ panel.type }}</div>
                                <div class="col-md-3">{{ panel.content }}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="row row-top">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row row-middle">
                <div class="col-md-1">
                    <button id="step5" class="btn btn-default btn-sm next">Krok 5 <i class="fa fa-arrow-circle-o-right"></i></button>
                </div>
            </div>
            <div class="row row-bottom">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
    <div id="step5" class="row">         
        <div class="col-md-1">
            <div class="row row-top">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row row-middle">
                <div class="col-md-12">
                    <button id="step4" class="btn btn-default btn-sm prev"><i class="fa fa-arrow-circle-o-left"></i> Krok 4</button>
                </div>
            </div>
            <div class="row row-bottom">
                <div class="col-md-12">

                </div>
            </div>
        </div>
        <div class="col-md-10 text-center">
            <div id="effect_type_css" class="row effect_type">
                <div class="col-md-12">
                    <h3><span class="label label-primary">Wybierz CSS:</span></h3>
                    <div class="row">
                        <div class="col-md-5">

                        </div>
                    </div>
                </div>
            </div>
            <div id="effect_type_src" class="row effect_type">
                <div class="col-md-12">
                    <h3><span class="label label-primary">Wybierz obraz gdy warunek jest spełniony:</span></h3>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row body">
                                <div class="col-md-12 image-list">
                                    {% for k,dir in images %}
                                        <div class="row image-container text-left">
                                            <div class="col-xs-12">
                                                <i class="fa fa-folder fa-blue"></i><span class="small"> {{k}}</span> <i class="fa fa-plus-circle fa-blue"></i>
                                                <div id="{{k}}" class="images hidden">
                                                    {% for key,subdir in dir %}
                                                        {% if subdir is iterable %}
                                                            <div class="col-xs-12">
                                                                <i class="fa fa-folder fa-green"></i><span class="small"> {{key}}</span> <i class="fa fa-plus-circle fa-blue"></i>
                                                                <div id="{{key}}" class="images hidden">
                                                                    {% for key,subsubdir in subdir %}
                                                                        {% if subsubdir is iterable %}
                                                                            <div class="col-xs-12">
                                                                                <i class="fa fa-folder fa-red"></i><span class="small"> {{key}}</span> <i class="fa fa-plus-circle fa-blue"></i>
                                                                                <div id="{{key}}" class="images hidden">
                                                                                    {% for image in subsubdir %}
                                                                                        <div class="col-xs-12">
                                                                                            <span class="label label-warning">{{image}}</span> <span class="small">{{sizeOfImage[image]}} KB</span>
                                                                                        </div>
                                                                                    {% endfor %}
                                                                                </div> 
                                                                            </div>
                                                                        {% else %}
                                                                            <div class="col-xs-12">
                                                                                <span class="label label-danger">{{subsubdir}}</span> <span class="small">{{sizeOfImage[subsubdir]}} KB</span>
                                                                            </div>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div> 
                                                            </div>
                                                        {% else %}
                                                            <div class="col-xs-12">
                                                                <span class="label label-success">{{subdir}}</span> <span class="small">{{sizeOfImage[subdir]}} KB</span>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div> 
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="dialog-panel">
                                <img class="img-responsive" src="" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="effect_type_spin" class="row effect_type">
                <div class="col-md-12">
                    <h3><span class="label label-primary">Wybierz SPIN:</span></h3>
                    <div class="row">
                        <div class="col-md-5">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="row row-top">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row row-middle">
                <div class="col-md-1">
                    <button id="save" class="btn btn-default btn-sm next">Zapisz <i class="fa fa-arrow-circle-o-down"></i></button>
                </div>
            </div>
            <div class="row row-bottom">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="progressbar">
            </div>
        </div>
    </div>
    <form class="hidden">
        <input id="register_id" type="hidden" name="register_id" value="">
        <input id="effect_content" type="hidden" name="effect_content" value="">
        <input id="effect_panel_id" type="hidden" name="effect_panel_id" value="">
    </form>
</div>

