<div class="image-manager" title="Manager obrazów:">
    <div class="row form-group-sm">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label for="imageManager[image_name]" class="control-label">Nazwa:</label>
                    <input id="imageName" type="text" class="form-control" name="imageManager[image_name]"/>
                </div>
                <div class="col-md-2">
                    <label for="imageManager[image_resolution_x]" class="control-label">Rozdzielczość X:</label>
                    <input id="resolutionX" type="number" class="form-control" name="imageManager[image_resolution_x]"/>
                </div>
                <div class="col-md-2">
                    <label for="imageManager[image_resolution_x]" class="control-label">Rozdzielczość Y:</label>
                    <input id="resolutionY" type="number" class="form-control" name="imageManager[image_resolution_y]"/>
                </div>
                <div class="col-md-5 text-right">
                    <div class="btn btn-sm btn-info btn-file">
                        <i class="fa fa-plus fa-fw"/>Dodaj nowy
                        <input class="" id="image" type="file" accept='image/*'>
                    </div>
                </div>
            </div>
            <div class="row thumbnail-list">
                {% for k,dir in images %}
                    {% for key,subdir in dir %}
                        {% if subdir is iterable %}
                            {% for keykey,subsubdir in subdir %}
                                {% if subsubdir is iterable %}
                                    {% for image in subsubdir %}
                                        <div id="{{ image }}" class="text-center">
                                            <img class='img-responsive'
                                                 src='/images/{{ k }}/{{ key }}/{{ keykey }}/{{ image }}'/>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div id="{{ subsubdir }}" class="text-center">
                                        <img class='img-responsive' src='/images/{{ k }}/{{ key }}/{{ subsubdir }}'/>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div id="{{ subdir }}" class="text-center">
                                <img class='img-responsive' src='/images/{{ k }}/{{ subdir }}'/>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
