<div class="col-md-12">
    <div class="row">
        <div class="col-lg-3 col-md-5">
            <div class="row row-label">
                <div class="col-md-8 col-md-offset-4 text-center">
                    <span class="label label-default">Pozycja:</span>
                </div>
            </div>
            {{ form_row(form.topPosition) }}
            {{ form_row(form.leftPosition) }}
            {{ form_row(form.zIndex) }}
        </div>
        <div class="col-lg-3 col-md-5">
            <div class="row row-label">
                <div class="col-md-8 col-md-offset-4 text-center">
                    <span class="label label-default">Rozmiar:</span>
                </div>
            </div>
            {{ form_row(form.width) }}
            {{ form_row(form.height) }}
        </div>
        <div class="col-lg-6 col-lg-offset-0 col-md-7 col-md-offset-1">
            <div class="row row-label">
                <div class="col-md-8 col-md-offset-4 text-center">
                    <span class="label label-default">Tło:</span>
                </div>
            </div>
            {{ form_row(form.backgroundColor) }}
            <div class="form-group">
                <div class="col-lg-9 col-lg-offset-1 col-md-9">
                    {{ form_row(form.opacity) }}
                </div>
                <div class="col-lg-2 col-md-3">
                    <input id="opacity" class="form-control" type="number" name="txt_opacity" min="0" max="1" step="0.1"
                           value="1" oninput="updateOpacity()"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-5">
            <div class="row row-label">
                <div class="col-md-8 col-md-offset-4 text-center">
                    <span class="label label-default">Ramka:</span>
                </div>
            </div>
            {{ form_row(form.borderWidth) }}
            {{ form_row(form.borderStyle) }}
            {{ form_row(form.borderColor) }}
        </div>
        <div class="col-lg-5 col-md-6 font-group">
            <div class="row row-label">
                <div class="col-md-8 col-md-offset-4 text-center">
                    <span class="label label-default">Czcionka:</span>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-4 text-center">
                    <button type="button" id="panel_fontWeight" class="btn btn-default btn-sm" onclick="updateFontWeight()">
                        <i class="fa fa-bold fa-fw"></i>
                    </button>
                    <button type="button" id="panel_textDecoration" class="btn btn-default btn-sm" onclick="updateTextDecoration()">
                        <i class="fa fa-underline fa-fw"></i>
                    </button>
                    <button type="button" id="panel_fontStyle" class="btn btn-default btn-sm btn-italic" onclick="updateFontStyle()">
                        <i class="fa fa-italic fa-fw"></i>
                    </button>
                    <div class="btn-group" id="panel_textAlign" role="group">
                        <button type="button" class="btn btn-default btn-sm btn-align-left active" onclick="updateTextAlign('left')">
                            <i class="fa fa-align-left fa-fw"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm btn-align-center" onclick="updateTextAlign('center')">
                            <i class="fa fa-align-center fa-fw"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm btn-align-right" onclick="updateTextAlign('right')">
                            <i class="fa fa-align-right fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>
            {{ form_row(form.fontFamily) }}
            {{ form_row(form.fontSize) }}
            {{ form_row(form.fontColor) }}
        </div>
        <div class="col-lg-3 col-lg-offset-0 col-md-6 col-md-offset-2 precision-group">
            <div class="row row-label">
                <div class="col-md-8 col-md-offset-4 text-center">
                    <span class="label label-default">Precyzja wyświetlania:</span>
                </div>
            </div>
            {{ form_row(form.displayPrecision) }}
        </div>
    </div>
    <div class="row row-label">
        <div class="col-md-6 col-md-offset-3 text-center">
            <span class="label label-default">Zaokrąglenie narożników:</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-md-6">
            <div class="form-group">
                <div class="col-md-8">
                    {{ form_row(form.borderRadiusLeftTop) }}
                </div>
                <div class="col-md-3">
                    <input id="borderRadiusTL" class="form-control" type="number" name="txt_BR_TL" min="0"
                           max="200" step="1" value="0" oninput="updateBorderRadius()"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    {{ form_row(form.borderRadiusLeftBottom) }}
                </div>
                <div class="col-md-3">
                    <input id="borderRadiusBL" class="form-control" type="number" name="txt_BR_BL" min="0"
                           max="200" step="1" value="0" oninput="updateBorderRadius()"/>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6">
            <div class="form-group">
                <div class="col-md-3">
                    <input id="borderRadiusTR" class="form-control" type="number" name="txt_BR_TR" min="0"
                           max="200" step="1" value="0" oninput="updateBorderRadius()"/>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="col-sm-8">
                            {{ form_widget(form.borderRadiusRightTop) }}
                            {{ form_errors(form.borderRadiusRightTop) }}
                        </div>
                        {{ form_label(form.borderRadiusRightTop) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <input id="borderRadiusBR" class="form-control" type="number" name="txt_BR_BR" min="0"
                           max="200" step="1" value="0" oninput="updateBorderRadius()"/>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="col-sm-8">
                            {{ form_widget(form.borderRadiusRightBottom) }}
                            {{ form_errors(form.borderRadiusRightBottom) }}
                        </div>
                        {{ form_label(form.borderRadiusRightBottom) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
