<div class="well well-lg">
    <form id="panel" class="form-horizontal" role="form">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <div class="row text-center">
                    <div class="col-md-10 col-md-offset-2">
                        <span class="label label-dialog-panel">Pozycja:</span>
                    </div>
                </div>
                {{form_row(form.topPosition)}}
                {{form_row(form.leftPosition)}}
            </div>  
            <div class="col-md-2">
                <span class="label label-dialog-panel">Rozmiar:</span>                    
                {{form_row(form.width)}}
                {{form_row(form.height)}}
            </div>  
            <div class="col-md-3">
                <span class="label label-dialog-panel">Tło:</span>
                {{form_row(form.backgroundColor)}}
                <div class="form-group">
                    <label class="control-label col-md-4" for="opacity">Przezroczystość:</label>
                    <div class="col-md-5 input-group-sm">
                        <input id="opacity" class="form-control" type="range" name="range_opacity" min="0" max="1" step="0.1" value="0" oninput="this.form.txt_opacity.value=this.value"/>
                    </div>
                    <div class="col-md-3 input-group-sm">
                        <input id="opacity" class="form-control" type="number" name="txt_opacity" min="0" max="1" step="0.1" value="0" oninput="this.form.range_opacity.value=this.value"></label>
                    </div>
                </div>  
            </div>  
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <div class="row text-center">
                    <div class="col-md-6 col-md-offset-6">
                        <span class="label label-dialog-panel">Ramka:</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-6" for="borderWidth">Grubość:</label>
                    <div class="col-md-6 input-group-sm">
                        <input id="borderWidth" type="number" class="form-control" value="0"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-6" for="borderStyle">Styl:</label>
                    <div class="col-md-6 input-group-sm">
                        <select id="borderStyle" class="form-control">
                            <option value="solid" selected>Ciągła</option>
                            <option value="dotted">Wykropkowana</option>
                            <option value="dashed">Wykreskowana</option>
                        </select> 
                    </div>
                </div>  
                <div class="form-group">
                    <label class="control-label col-md-6" for="borderColor">Kolor:</label>
                    <div class="col-md-6 input-group-sm">
                        <input id="borderColor" type="color" class="form-control" value="#000000" />
                    </div>
                </div>  
            </div>  
            <div class="col-md-3 font-group">
                <div class="row text-center">
                    <div class="col-md-12">
                        <span class="label label-dialog-panel">Czcionka:</span>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default btn-xs btn-bold"><i class="fa fa-bold fa-fw"></i></button>
                        <button type="button" class="btn btn-default btn-xs btn-underline"><i class="fa fa-underline fa-fw"></i></button>
                        <button type="button" class="btn btn-default btn-xs btn-italic"><i class="fa fa-italic fa-fw"></i></button>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default btn-xs btn-align-left"><i class="fa fa-align-left fa-fw"></i></button>
                            <button type="button" class="btn btn-default btn-xs btn-align-center active"><i class="fa fa-align-center fa-fw"></i></button>
                            <button type="button" class="btn btn-default btn-xs btn-align-right"><i class="fa fa-align-right fa-fw"></i></button>
                        </div>
                        <button type="button" class="btn btn-default btn-xs disabled"><i class="fa fa-question fa-fw"></i></button>
                    </div>                    
                </div>
                
                {{form_row(form.fontFamily)}}
                {{form_row(form.fontSize)}}
                {{form_row(form.fontColor)}}
            </div>
            <div class="col-md-2 precision-group">
                <div class="row text-center">
                    <div class="col-md-12">
                        <span class="label label-dialog-panel">Precyzja wyświetlania:</span>
                    </div>
                </div>
                {{form_row(form.displayPrecision)}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="row text-center">
                    <div class="col-md-12">
                        <span class="label label-dialog-panel">Zaokrąglenie narożników:</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="borderRadiusTL">Lewy górny:</label>
                            <div class="col-md-5 input-group-sm">
                                <input id="borderRadiusTL" class="form-control" type="range" name="range_BR_TL" min="0" max="200" step="1" value="10" oninput="this.form.txt_BR_TL.value=this.value"/> 
                            </div>
                            <div class="col-md-3 input-group-sm">
                                <input id="borderRadiusTL" class="form-control" type="number" name="txt_BR_TL" min="0" max="200" step="1" value="10" oninput="this.form.range_BR_TL.value=this.value"></label>
                            </div>
                        </div>  
                        <div class="form-group">
                            <label class="control-label col-md-4" for="borderRadiusBL">Lewy dolny:</label>
                            <div class="col-md-5 input-group-sm">
                                <input id="borderRadiusBL" class="form-control" type="range" name="range_BR_BL" min="0" max="200" step="1" value="10" oninput="this.form.txt_BR_BL.value=this.value"/> 
                            </div>
                            <div class="col-md-3 input-group-sm">
                                <input id="borderRadiusBL" class="form-control" type="number" name="txt_BR_BL" min="0" max="200" step="1" value="10" oninput="this.form.range_BR_BL.value=this.value"></label>
                            </div>
                        </div>  
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="borderRadiusTR">Prawy górny:</label>
                            <div class="col-md-5 input-group-sm">
                                <input id="borderRadiusTR" class="form-control" type="range" name="range_BR_TR" min="0" max="200" step="1" value="10" oninput="this.form.txt_BR_TR.value=this.value"/> 
                            </div>
                            <div class="col-md-3 input-group-sm">
                                <input id="borderRadiusTR" class="form-control" type="number" name="txt_BR_TR" min="0" max="200" step="1" value="10" oninput="this.form.range_BR_TR.value=this.value"></label>
                            </div>
                        </div>  
                        <div class="form-group">
                            <label class="control-label col-md-4" for="opacity">Prawy dolny:</label>
                            <div class="col-md-5 input-group-sm">
                                <input id="borderRadiusBR" class="form-control" type="range" name="range_BR_BR" min="0" max="200" step="1" value="10" oninput="this.form.txt_BR_BR.value=this.value"/> 
                            </div>
                            <div class="col-md-3 input-group-sm">
                                <input id="borderRadiusBR" class="form-control" type="number" name="txt_BR_BR" min="0" max="200" step="1" value="10" oninput="this.form.range_BR_BR.value=this.value"></label>
                            </div>
                        </div>  
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>