<div class="well well-lg">
    {% if terms|length > 0 %}
        {% for term in terms %}
            { {{term.register.name}}({{term.register.registerCurrentData.fixedValue}}) }{ {{term.condition.type}} {{term.condition.value}} }{ {{term.effect.name}} }
        {% endfor %}
    {% endif %}
</div>