<div class="variable-manager" title="Manager zmiennych:">
    <div class="row header">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="deviceSearch" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Urządzenie</label>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="functionSearch" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Funkcja</label>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="addressSearch" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Adres rejestru(HEX)</label>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="registerSearch" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Nazwa skrócona</label>
                </div>
            </div>
        </div>    
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="descriptionSearch" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Pełna nazwa</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row body">
        <div class="col-md-12">
            {% if registers|length > 0 %}
                {% for register in registers %}
                    <div id="{{register.id}}" class="row register-choice {{register.device.id}} "
                         style="
                         {% if register.alarm == 1 %}
                             color: #FF0000;
                         {% endif %}
                         {% if register.bitRegister == 1 %}
                             color: #007fff;
                         {% endif %}
                         ">
                        <div id="deviceName" class="col-md-2">{{ register.device.name }}</div>
                        <div id="function" class="col-md-2">{{ register.function }}</div>
                        <div id="address" class="col-md-2">{{ register.registerAddress }}</div>
                        <div id="registerName" class="col-md-2 register_name">{{ register.name }}</div>
                        <div id="description" class="col-md-4">{{ register.description}}</div>
                        <div id="value" class="col-md-4 hidden">{{register.registerCurrentData.fixedValue}}</div>
                    </div>
                    {% for bitRegister in register.bitRegisters %}
                        <div id="{{register.id}}_b{{bitRegister.id}}" class="row register-choice {{register.device.id}} " style="color: #007fff">
                            <div id="deviceName" class="col-md-2">{{ register.device.name }}</div>
                            <div id="function" class="col-md-2">bit</div>
                            <div id="address" class="col-md-2">{{ register.registerAddress }}</div>
                            <div id="registerName" class="col-md-2 register_name">{{ bitRegister.name }}</div>
                            <div id="description" class="col-md-4">{{ bitRegister.description}}</div>
                            <div id="value" class="col-md-4 hidden">{{bitRegister.bitValue}}</div>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <input id="register" type="hidden" value="" />
</div>

