<div
        {% if (gadgetClock.eventLink is not empty) %}
            onclick="ajaxChangePage({{ gadgetClock.eventLink.page.id }});"
        {% endif %}
        name="{{ gadgetClock.name }}"
        id="{{ gadgetClock.id }}" class="bms-panel bms-gadgetclock"
        style="
                top: {{ gadgetClock.topPosition }}px;
                left: {{ gadgetClock.leftPosition }}px;
                width: {{ gadgetClock.width }}px;
                height: {{ gadgetClock.height }}px;
                line-height: {{ gadgetClock.height }}px;
                z-index: {{ gadgetClock.zIndex }};
        {% if (gadgetClock.eventLink is not empty) %}
                cursor: pointer;
        {% endif %}
                ">
    GADGET CLOCK
    {% if labels %}
        <span class="label label-primary label-bms-panel">
            <i class="fa fa-clock-o fa-fw"></i> {{ gadgetClock.id }}
            <a href="{{ path('gadgetclock_copy', {'id': gadgetClock.id }) }}"><i class='fa fa-fw fa-clone fa-blue'></i></a>
            <a href="{{ path('gadgetclock_edit', {'id': gadgetClock.id }) }}"><i class='fa fa-fw fa-cogs fa-yellow'></i></a>
            <a href="{{ path('gadgetclock_delete', {'id': gadgetClock.id }) }}"><i class='fa fa-fw fa-trash-o fa-red'></i></a>
        </span>
    {% endif %}
</div>