{% extends 'VisualizationBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-select.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-select.js') }}"></script>
    <script>
        $(document).ready(function () {
            initForm('variable');
            $('select#event_hide_show_source').selectpicker({
                style: "btn dropdown-toggle btn-warning btn-sm"
            });
        });
    </script>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>Zdarzenie pokaż/ukryj</h2>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-5 col-offset-1">
                    {{ form_row(form.source) }}
                </div>
                <div class="col-md-5">
                    {{ form_row(form.term) }}
                </div>
            </div>
            <h1></h1>
            <div class="btn-group">
                <a class="btn btn-warning" href="{{ app.request.headers.get('referer') }}">
                    <i class="fa fa-arrow-left"></i> Anuluj
                </a>
                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Zapisz</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

