{% extends 'VisualizationBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-select.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-select.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('select#event_change_source_termSource').selectpicker({
                style: "btn dropdown-toggle btn-warning btn-sm"
            });
        });
    </script>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>Zdarzenie zmiana obrazka</h2>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.termSource) }}
                </div>
                <div class="col-md-1">
                    {{ form_row(form.termSign) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.termValue) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.panelImageSourceLabel) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4><span class="label label-success">Obrazy użytkownika</span></h4>
                    <div class="thumbnail-list text-left">
                        {% for image in images['user'] %}
                            <div id="{{ image }}" class="text-center" onclick="setSelectedImageTerm(this)"
                                 title="{{ image }}">
                                <img class='img-responsive' src='/images/user/{{ image }}'/>
                                <a href="{{ path('remove_image_from_server', {'image_name': image }) }}"
                                   onclick="return confirm('Na pewno usunąć obrazek z systemu?')">
                                    <i class="fa fa-remove fa-red"></i>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <h4><span class="label label-warning">Obrazy systemowe</span></h4>
                    <div class="thumbnail-list text-left">
                        {% for image in images['system'] %}
                            <div id="{{ image }}" class="text-center" onclick="setSelectedImageTerm(this)"
                                 title="{{ image }}">
                                <img class='img-responsive' src='/images/system/{{ image }}'/>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <h1></h1>
            <div class="btn-group">
                <a class="btn btn-warning" href="{{ app.request.headers.get('referer') }}">
                    <i class="fa fa-arrow-left"></i> Anuluj
                </a>
                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Zapisz</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

