{% extends 'VisualizationBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-select.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-select.js') }}"></script>
    <script>
        $(document).ready(function () {
            initProgressBarForm();
            $('.selectpicker').selectpicker({
                style: "btn dropdown-toggle btn-warning btn-sm"
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>Tworzenie gadżetu - progress bar</h2>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="text-center"><span class="label label-primary">Ogólne</span></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="col-md-4">
                            <label class="control-label"></label>
                            {{ form_row(form.tooltip) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group-sm">
                                <label class="control-label required" for="panel_source">Zmienna wartości</label>
                                <select id="gadgetprogressbar_value_register" class="form-control selectpicker"
                                        data-live-search="true"
                                        onchange="updateGadgetVariableValueRegister()">
                                    {% for register in registers %}
                                        <option value="{{ register.id }}">{{ register.name }}
                                            - {{ register.description }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group-sm">
                                <label class="control-label required" for="panel_source">Zmienna wartości
                                    zadanej</label>
                                <select id="gadgetprogressbar_set_register" class="form-control selectpicker"
                                        data-live-search="true"
                                        onchange="updateGadgetVariableSetRegister()">
                                    {% for register in registers %}
                                        <option value="{{ register.id }}">{{ register.name }}
                                            - {{ register.description }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <h5 class="text-center"><span class="label label-primary">Pozycja</span></h5>
                    {{ form_row(form.topPosition) }}
                    {{ form_row(form.leftPosition) }}
                </div>
                <div class="col-md-2">
                    <h5 class="text-center"><span class="label label-primary">Rozmiar</span></h5>
                    {{ form_row(form.width) }}
                </div>
            </div>
            <h1></h1>
            <div class="row text-center">
                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 hidden-xs hidden-sm">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            {{ form_row(form.color1) }}
                        </div>
                        <div class="col-md-2 col-md-offset-2">
                            {{ form_row(form.color2) }}
                        </div>
                        <div class="col-md-2 col-md-offset-2">
                            {{ form_row(form.color3) }}
                        </div>
                    </div>
                </div>
            </div>
            <h1></h1>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 hidden-xs hidden-sm">
                    <div id="preview" style="position: relative">
                        {% set optimumMin = (gadgetProgressBar.optimumMin-gadgetProgressBar.rangeMin)/(gadgetProgressBar.rangeMax-gadgetProgressBar.rangeMin)*100|round(2, 'common') %}
                        {% set optimumMax = (gadgetProgressBar.optimumMax-gadgetProgressBar.rangeMin)/(gadgetProgressBar.rangeMax-gadgetProgressBar.rangeMin)*100|round(2, 'common') %}
                        {% set setPoint = (2.2-gadgetProgressBar.rangeMin)/(gadgetProgressBar.rangeMax-gadgetProgressBar.rangeMin)*100|round(2, 'common') %}
                        {% set valuePoint = (2.9-gadgetProgressBar.rangeMin)/(gadgetProgressBar.rangeMax-gadgetProgressBar.rangeMin)*100|round(2, 'common') %}
                        <div class="progress" style="margin-bottom: 0;">
                            <div style="position: absolute; top:-1px; left: {{ valuePoint }}%; height: 50%; z-index: 15; border-left: 2px solid black;  color: black; margin-bottom: 10px;"></div>
                            <div style="position: absolute; top: -3px; left: {{ setPoint }}%; height: 60%; z-index: 14; border-left: 4px solid green; color: green"></div>
                            <div class="progress-bar" role="progressbar"
                                 style="width: {{ optimumMin }}%; background-color: {{ gadgetProgressBar.color1 }}">
                            </div>
                            <div class="progress-bar" role="progressbar"
                                 style="width: {{ optimumMax - optimumMin }}%; background-color: {{ gadgetProgressBar.color2 }}">
                            </div>
                            <div class="progress-bar" role="progressbar"
                                 style="width: {{ 100-optimumMax }}%; background-color: {{ gadgetProgressBar.color3 }}">
                            </div>
                        </div>
                        <div class="progress progress-label"></div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 hidden-xs hidden-sm">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <div class="form-group-sm">
                                {{ form_widget(form.rangeMin) }}
                            </div>
                        </div>
                        <div class="col-md-2 col-md-offset-1">
                            <div class="form-group-sm">
                                {{ form_widget(form.optimumMin) }}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group-sm">
                                {{ form_widget(form.optimumMax) }}
                            </div>
                        </div>
                        <div class="col-md-2 col-md-offset-1">
                            <div class="form-group-sm">
                                {{ form_widget(form.rangeMax) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 hidden-xs hidden-sm">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            {{ form_label(form.rangeMin) }}
                        </div>
                        <div class="col-md-2 col-md-offset-1">
                            {{ form_label(form.optimumMin) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_label(form.optimumMax) }}
                        </div>
                        <div class="col-md-2 col-md-offset-1">
                            {{ form_label(form.rangeMax) }}
                        </div>
                    </div>
                </div>
            </div>

            <h1></h1>
            <div class="btn-group">
                <a class="btn btn-warning" href="{{ path('page_show', {'id': gadgetProgressBar.page.id}) }}">
                    <i class="fa fa-arrow-left"></i> Anuluj
                </a>
                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Zapisz</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
