{% extends 'base.html.twig' %}

{% block body %}
    <h1>GadgetProgressBar</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gadgetProgressBar.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ gadgetProgressBar.name }}</td>
            </tr>
            <tr>
                <th>Rangemin</th>
                <td>{{ gadgetProgressBar.rangeMin }}</td>
            </tr>
            <tr>
                <th>Rangemax</th>
                <td>{{ gadgetProgressBar.rangeMax }}</td>
            </tr>
            <tr>
                <th>Optimummin</th>
                <td>{{ gadgetProgressBar.optimumMin }}</td>
            </tr>
            <tr>
                <th>Optimummax</th>
                <td>{{ gadgetProgressBar.optimumMax }}</td>
            </tr>
            <tr>
                <th>Color1</th>
                <td>{{ gadgetProgressBar.color1 }}</td>
            </tr>
            <tr>
                <th>Color2</th>
                <td>{{ gadgetProgressBar.color2 }}</td>
            </tr>
            <tr>
                <th>Color3</th>
                <td>{{ gadgetProgressBar.color3 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gadgetprogressbar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('gadgetprogressbar_edit', { 'id': gadgetProgressBar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
