{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/newVisualization.css') }}">
{% endblock %}

{% block nav %}
    {{ parent() }}
    <li id="generate"><a href="{{ path('page_generate') }}"><button class="btn btn-xs btn-success">Generuj wizualizacje</button></a></li>
{% endblock %}

{% block body %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/newVisualization.js') }}"></script>
{% endblock %}

