{% extends 'VisualizationBundle::layout.html.twig' %}
{% form_theme form 'VisualizationBundle::bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-8 text-center">
                    <h1>Tworzenie panelu - obraz</h1>
                </div>
            </div>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-4">
                    <div class="row row-label">
                        <div class="col-md-8 col-md-offset-4 text-center">
                            <h4><span class="label label-primary">Ogólne</span></h4>
                        </div>
                    </div>
                    {{ form_row(form.name) }}
                    {{ form_row(form.tooltip) }}
                </div>
                <div class="col-md-3">
                    <div class="row row-label">
                        <div class="col-md-8 col-md-offset-4 text-center">
                            <h4><span class="label label-primary">Pozycja</span></h4>
                        </div>
                    </div>
                    {{ form_row(form.topPosition) }}
                    {{ form_row(form.leftPosition) }}
                </div>
                <div class="col-md-3">
                    <div class="row row-label">
                        <div class="col-md-8 col-md-offset-4 text-center">
                            <h4><span class="label label-primary">Rozmiar</span></h4>
                        </div>
                    </div>
                    {{ form_row(form.width) }}
                    {{ form_row(form.height) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="row row-label">
                        <div class="col-md-8 col-md-offset-4 text-center">
                            <h4><span class="label label-primary">Ramka</span></h4>
                        </div>
                    </div>
                    {{ form_row(form.borderWidth) }}
                    {{ form_row(form.borderStyle) }}
                    {{ form_row(form.borderColor) }}
                </div>
                <div class="col-lg-8 col-lg-offset-1 col-md-8">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="btn btn-sm btn-primary btn-file">
                                <i class="fa fa-plus fa-fw"></i>Dodaj nowy
                                <input class="" id="image" type="file" accept='image/*'>
                            </div>
                        </div>
                        <div class="col-md-5 text-right">
                            <span id="image_name" class="label label-info"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail-list">
                                {% for k,dir in images %}
                                    {% for key,subdir in dir %}
                                        {% if subdir is iterable %}
                                            {% for keykey,subsubdir in subdir %}
                                                {% if subsubdir is iterable %}
                                                    {% for image in subsubdir %}
                                                        <div id="{{ image }}" class="text-center" onclick="setSelectedImage(this)" title="{{ image }}">
                                                            <img class='img-responsive' src='/images/{{ k }}/{{ key }}/{{ keykey }}/{{ image }}'/>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    <div id="{{ subsubdir }}" class="text-center" onclick="setSelectedImage(this)" title="{{ subsubdir }}">
                                                        <img class='img-responsive'
                                                             src='/images/{{ k }}/{{ key }}/{{ subsubdir }}'/>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <div id="{{ subdir }}" class="text-center" onclick="setSelectedImage(this)" title="{{ subdir }}">
                                                <img class='img-responsive' src='/images/{{ k }}/{{ subdir }}'/>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-group">
                <a class="btn btn-warning" href="{{ path('visualization') }}"><i class="fa fa-arrow-left"></i>
                    Anuluj</a>
                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Zapisz</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            {% if panelImage.source is not empty %}
                var selected = $("img[src$='{{ panelImage.source }}']").parent("div");
                setSelectedImage(selected);
            {% endif %}
            setAddingNewImage();
        });
    </script>
{% endblock %}