<div
        {% if panelImage.tooltip %}
            title="{{ panelImage.name }}"
        {% endif %}
        name="{{ panelImage.name }}"
        id="{{ panelImage.id }}" class="bms-panel bms-panelimage"
        style="
                top: {{ panelImage.topPosition }}px;
                left: {{ panelImage.leftPosition }}px;
                width: {{ panelImage.width }}px;
                height: {{ panelImage.height }}px;
                border-style: {{ panelImage.borderStyle }};
                border-width: {{ panelImage.borderWidth }}px;
                border-color: {{ panelImage.borderColor }};
                z-index: {{ panelImage.zIndex }};
                ">

    <img class="img-responsive" src="{{ panelImage.source }}"/>
    {% if labels %}
        <span class="label label-primary label-bms-panel">
            <i class="fa fa-image fa-fw"></i> {{ panelImage.id }}
            <a href="#"><i class='fa fa-fw fa-clone fa-blue'></i></a>
            <a href="{{ path('panelimage_edit', {'id': panelImage.id }) }}"><i class='fa fa-fw fa-cogs fa-yellow'></i></a>
            <a href="{{ path('panelimage_delete', {'id': panelImage.id }) }}"><i class='fa fa-fw fa-trash-o fa-red'></i></a>
        </span>
    {% endif %}
</div>
