{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/condition.css')}}">
{% endblock %}

<div class="dialog-condition" title="Nowy warunek:">
    <div class="row">
        <div class="col-lg-3 text-center">
            <label for="registers">Rejestr</label>
            <select class="form-control registers">
                {% for register in registers %}
                    <option value="{{ register.name }}&{{register.registerCurrentData.fixedValue}}">{{ register.name }} - {{ register.description }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2 text-center">
            <label for="registers">Typ warunku</label>
            <select id="condition_type" class="form-control" name="condition_type">
                <option value="==">=</option>
                <option value="!=">&ne;</option>
                <option value=">">&gt;</option>
                <option value=">=">&ge;</option>
                <option value="<">&lt;</option>
                <option value="<=">&le;</option>
            </select>
        </div>
        <div class="col-md-2 text-center">
            <label for="registers">Wartość</label>
            <input id="condition_val" type="number" step="0.01" class="form-control" name="condition_val"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-center">
            <label for="registers">Typ efektu</label>
            <select id="effect_type" class="form-control" name="effect_type">
                <option value="css">Zmiana właściwości wyglądu (np.: kolor, czcionka, ramka)</option>
                <option value="src">Wyświetlenie obrazka</option>
                <option value="animation">Animacja</option>
            </select>
        </div>
        <div class="col-md-3 text-center">
            <label for="registers">Wartość efektu</label>
            <select id="effect_value" class="form-control" name="effect_value">
                <option value="">###</option>
                <option value="">###</option>
                <option value="">###</option>
            </select>
        </div>
    </div>
    
    <form class="hidden">
        <input id="register_id" type="hidden" name="register_id" value="">
        <input id="effect_content" type="hidden" name="effect_content" value="">
        <input id="effect_panel_id" type="hidden" name="effect_panel_id" value="">
    </form>
</div>

