<h3><span class="label label-primary">Wybierz rejestr do którego chcesz zastosować warunek:</span></h3>
<div class="row header">
    <div class="col-md-2 lead small">
        <div class="row">
            <div class="col-md-12">
                Urządzenie
            </div>
        </div>
        {% for device in devices %}
            <div class="row">
                <div class="col-md-12">
                    <input class="device" type="checkbox" name="device-{{device.id}}" value="{{device.id}}" checked/> {{device.name}}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-1">
        <span class="lead small">Funkcja odczytu</span>
    </div>
    <div class="col-md-1">
        <span class="lead small">Adres rejestru(HEX)</span>
    </div>
    <div class="col-md-2">
        <span class="lead small">Nazwa skrócona</span>
    </div>    
    <div class="col-md-5">
        <span class="lead small">Pełna nazwa</span>
    </div>
</div>
<div class="row body">
    <div class="col-md-12">
        {% if registers|length > 0 %}
            {% for register in registers|sort %}
                <div id="{{register.id}}" class="row register-choice">
                    <div class="col-md-2 {{register.device.id}}">{{ register.device.name }}</div>
                    <div class="col-md-1">{{ register.function }}</div>
                    <div class="col-md-1">{{ register.registerAddress }}</div>
                    <div class="col-md-2 text-left">{{ register.name }}</div>
                    <div class="col-md-5 text-left">{{ register.description}}</div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>