<div class="row text-right">
    <div class="col-sm-10">
        <span id="timer" class="label label-primary">Auto odświeżanie za - s</span>
    </div>
</div>
<div id="detailContainer" style="height: 500px"></div>
<div id="masterContainer" style="height: 100px"></div>
<div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <div class="row">
            <div class="col-sm-12">
                Początek: <input type="text" id="dtpStart">
                Koniec: <input type="text" id="dtpEnd">
                <button id="changeScope" type="button" class="btn btn-default">Zmień zakres</button>
            </div>
        </div>
        <div id="time_controls" class="row">
            <div class="col-sm-12">
                <button id="setHour" type="button" class="btn btn-xs btn-primary">godzina</button>
                <button id="setDay" type="button" class="btn btn-xs btn-primary">dzień</button>
                <button id="setWeek" type="button" class="btn btn-xs btn-primary">tydzień</button>
                <button id="setMonth" type="button" class="btn btn-xs btn-primary">miesiąc</button>
                <button id="setYear" type="button" class="btn btn-xs btn-primary">rok</button>
                <button id="setAll" type="button" class="btn btn-xs btn-primary">całość</button>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm-12">
                <select id="avRegs">
                    {% for register in registers %}
                        <option id="{{register.id}}" value="{{register.id}}">{{register.id}} - ({{register.name}}) {{register.description}}</option>
                    {% endfor %}
                </select>
                <button id="addSeries" type="button" class="btn btn-primary">Dodaj serie</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="label label-primary">Do której skali przypisać?</span>
                <label class="radio-inline"><input type="radio" name="axType" value="2">num</label>
                <label class="radio-inline"><input type="radio" name="axType" value="1" checked>°C</label>
                <label class="radio-inline"><input type="radio" name="axType" value="0">%</label>
            </div>
        </div>
    </div>
</div>
 