{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dataAnalyze.css')}}">
    <link rel="stylesheet" href="{{ asset('css/jquery.datetimepicker.css')}}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-select.css') }}">
    
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {{ chart(detailChart) }}
        {{ chart(masterChart) }}
    </script>
    <script src="{{ asset('js/bootstrap-select.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('select#avRegs').selectpicker({
                style: "btn dropdown-toggle btn-warning btn-sm"
            });
        });
    </script>
    <script src="{{ asset('js/bmsDataAnalyze.js') }}"></script>
{% endblock %}

{% block nav %}
    {{ parent() }}

{% endblock %}

{% block sidebar %}


{% endblock %}

{% block body %}

    <div class="row main-row">
        <div class="col-md-12">
            {% include 'BmsDataAnalyzeBundle::chart.html.twig' %}
        </div>
    </div>

{% endblock %}

