{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tmpDataAnalyze.css')}}">
    <link rel="stylesheet" href="{{ asset('css/jquery.datetimepicker.css')}}">
    
{% endblock %}


{% block nav %}
    {{ parent() }}

{% endblock %}

{% block sidebar %}


{% endblock %}

{% block body %}

    <div class="row main-row">
        <div class="col-md-12">
            {% include 'BmsDataAnalyzeBundle::chart.html.twig' %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/highcharts/highcharts.js')}}"></script>
    <script src="{{ asset('js/highcharts/modules/exporting.js')}}"></script>
    <script type="text/javascript">
        {{ chart(detailChart) }}
        {{ chart(masterChart) }}
    </script>
    <script src="{{ asset('bundles/bmsdataanalyze/js/bmsDataAnalyze.js') }}"></script>
{% endblock %}

