{% extends 'VisualizationBundle::layout.html.twig' %}

{% block sidebar %}
    {% include 'VisualizationBundle::sidebar.html.twig' %}

    {% block page_elements %}


    {% endblock %}
{% endblock %}

{% block body %}
    <div class="row main-row hidden-xs hidden-sm">
        <div class="col-md-12">
            <div class="btn-group">
                {% for page in pages %}
                    {% if page.id == active_page.id %}
                        <a class="btn btn-xs btn-info"
                           href="{{ path('page_show', { 'id': page.id }) }}">{{ page.name }}</a>
                        <a class="btn btn-xs btn-info" href="{{ path('page_edit', { 'id': active_page.id }) }}">
                            <i class="fa fa-cog fa-yellow"></i>
                        </a>
                        <a class="btn btn-xs btn-info" href="{{ path('page_delete', { 'id': active_page.id }) }}" onclick="return confirm('Na pewno usunąć stronę? Spowoduje to również usunięcie wszsytkich elementów znajdużacych się na niej.');">
                            <i class="fa fa-remove fa-red"></i>
                        </a>
                    {% else %}
                        <a class="btn btn-xs btn-primary" href="{{ path('page_show', { 'id': page.id }) }}">
                            {{ page.id }} - {{ page.name }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="well" style="
                    width: {{ active_page.width }}px;
                    height: {{ active_page.height }}px;
                    background-color: {{ active_page.backgroundColor }};
                    ">
                {% for panelImage in active_page.panelsImage %}
                    {% include 'VisualizationBundle:panelimage:show.html.twig' %}
                {% endfor %}
                {% for panelText in active_page.panelsText %}
                    {% include 'VisualizationBundle:paneltext:show.html.twig' %}
                {% endfor %}
                {% for panelVariable in active_page.panelsVariable %}
                    {% include 'VisualizationBundle:panelvariable:show.html.twig' %}
                {% endfor %}

                {% for gadgetClock in active_page.gadgetsClock %}
                    {% include 'VisualizationBundle:gadgetclock:show.html.twig' %}
                {% endfor %}
                {% for gadgetProgressBar in active_page.gadgetsProgressBar %}
                    {% include 'VisualizationBundle:gadgetprogressbar:show.html.twig' %}
                {% endfor %}

                {% for inputButton in active_page.inputsButton %}
                    {% include 'VisualizationBundle:inputbutton:show.html.twig' %}
                {% endfor %}
                {% for inputRange in active_page.inputsRange %}
                    {% include 'VisualizationBundle:inputrange:show.html.twig' %}
                {% endfor %}
                {% for inputNumber in active_page.inputsNumber %}
                    {% include 'VisualizationBundle:inputnumber:show.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row hidden-md hidden-lg">
        <div class="col-md-12 text-center">
            <span class="label label-danger">Opcja niedostępna dla urządzeń mobilnych</span>
        </div>
    </div>
{% endblock %}
