<div
        {% if (panelText.eventLink is not empty) %}
            onclick="ajaxChangePage({{ panelText.eventLink.page.id }});"
        {% endif %}
        name="{{ panelText.name }}"
        id="{{ panelText.id }}"
        class="bms-panel bms-paneltext text-{{ panelText.textAlign }}"
        style="
                top: {{ panelText.topPosition }}px;
                left: {{ panelText.leftPosition }}px;
                width: {{ panelText.width }}px;
                height: {{ panelText.height }}px;
                border-style: {{ panelText.borderStyle }};
                border-width: {{ panelText.borderWidth }}px;
                border-color: {{ panelText.borderColor }};
                border-top-left-radius: {{ panelText.borderRadiusLeftTop }}px;
                border-bottom-left-radius: {{ panelText.borderRadiusLeftBottom }}px;
                border-top-right-radius: {{ panelText.borderRadiusRightTop }}px;
                border-bottom-right-radius: {{ panelText.borderRadiusRightBottom }}px;
                background-color: {{ panelText.backgroundColor|hexToRgba(panelText.backgroundOpacity) }});
                font-weight: {{ panelText.fontWeight }};
                text-decoration: {{ panelText.textDecoration }};
                font-style: {{ panelText.fontStyle }};
                font-family: {{ panelText.fontFamily }};
                color: {{ panelText.fontColor }};
                font-size: {{ panelText.fontSize }}px;
                line-height: {{ panelText.height - 2 * panelText.borderWidth }}px;
                z-index: {{ panelText.zIndex }};
        {% if (panelText.eventLink is not empty) %}
                cursor: pointer;
        {% endif %}
        {% if (panelImage.eventsHideShow is not empty) %}
                display: none;
        {% endif %}
                ">
    <span class="bms-panel-content">{{ panelText.source }}</span>
    {% if labels %}
        <span class="label label-primary label-bms-panel">
            <i class="fa fa-font fa-fw"></i> {{ panelText.id }}
            <a href="{{ path('paneltext_copy', {'id': panelText.id }) }}">
                <i class='fa fa-fw fa-clone fa-blue'></i>
            </a>
            <a href="{{ path('paneltext_events', {'id': panelText.id }) }}">
                <i class='fa fa-fw fa-bolt fa-yellow'></i>
            </a>
            <a href="{{ path('paneltext_edit', {'id': panelText.id }) }}">
                <i class='fa fa-fw fa-cogs fa-yellow'></i>
            </a>
            <a href="{{ path('paneltext_delete', {'id': panelText.id }) }}">
                <i class='fa fa-fw fa-trash-o fa-red'></i>
            </a>
        </span>
    {% endif %}
</div>